<h1>Household Member Details</h1>

<p><strong>Name:</strong> <%= @household_member.name %></p>

<%= link_to 'Edit', edit_household_member_path(@household_member) %> |
<%= link_to 'Back to Household Members', household_members_path %>

