<h1>Welcome to MyWalletWatch!</h1>
<p>This is your home page.</p>

<div>
  <%= link_to 'Household Members', household_members_path %>
</div>

<div>
  <%= link_to 'Accounts', accounts_path %>
</div>

<div>
  <%= link_to 'Transactions', transactions_path %>
</div>


